.clock {
    margin: 20px auto;
    
}

.countdown {
    background: #333333;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #eeeeee;
    
}

.weatherWidget {
    position: relative;
    top: 100px;
}

header {
    position: relative;
}
main {
    align-items: center Z;
    display: flex;
}
h1 {
    text-align: center;
}